.footer {
  background-color: #333333;
  color: #eeeeee;
  padding: '0.9375rem 0';
  text-align: 'center';
  // margin-top: 20px;
  // display: 'flex';
  z-index: 2;
  // position: 'relative';
  height: 80px;
}

  // container {
  //   padding-right: '15px';
  //   padding-left: '15px';
  //   margin-right: 'auto';
  //   margin-left: 'auto';
  //   width: '100%';
  //   @media (min-width: 576px){
  //     maxWidth: '540px';
  //   };

  //   @media (min-width: 768px) {
  //     maxWidth: '720px';
  //   };

  //   @media (min-width: 992px) {
  //     maxWidth: '960px';
  //   };

  //   @media (min-width: 1200px) {
  //     maxWidth: '1140px';
  //   };
  // };